In [ ]:
marks = 90

In [ ]:
if marks>35:
    print("Passed")

In [ ]:
if marks>35:
    print("Passed")
else:
    print("I'm sorry, try again!")

In [ ]:
if (marks>35) & (marks<75):
    print("Good!")
elif (marks>75):
    print("Well done!")
else:
    print("OOPS!")

In [ ]:
marks

In [ ]:
type(marks)

In [ ]:
s = "This is the first class"

In [ ]:
type(s)

In [ ]:
10+15

In [ ]:
19//4

In [ ]:
19%4

In [ ]:
2**4

In [ ]:
# This is a examle for a function
s.split()

In [ ]:
'''This is more than 
 a single line'''

In [ ]:
marks

In [ ]:
type(marks)

In [ ]:
m = int(100.5738)

In [ ]:
type(m)

In [ ]:
marks

In [ ]:
# Scope of a variable is defined using LEGB rule --> Local,enclosed, global, built-in

In [ ]:
def ex(marks):
    print("The marks is : ", marks)
    marks = 75
    print("The marks now is changed to: ", marks)

In [ ]:
ex(marks)

In [ ]:
marks

In [ ]:
def ex():
    global marks
    print("The marks is : ", marks)
    marks = 75
    print("The marks now is changed to: ", marks)

In [ ]:
ex()

In [ ]:
marks

In [ ]:
# Big-oh notation

In [ ]:
23//2

In [ ]:
for i  in range(2,11+1):
    print(i, end = " ")

In [ ]:
def prime(num):
    half = num//2
    for i in range(2,half+1):
        if num%i==0:
            print("Not Prime")
    else:
        print("Prime")

In [ ]:
prime(23)

In [ ]:
l = [1,3,4,5]

In [ ]:
l[:2]

# Reserved keywords can't be used as a variable

input = 100
output = input+100

In [ ]:
output

In [ ]:
# Late binding

In [ ]:
inp = int(input("Enter a value: "))
output = inp+100

In [ ]:
(100>20) & (20<15)

In [ ]:
(100>20) | (20<15)

In [ ]:
10!=0

In [ ]:
2==2

In [ ]:
if marks>0:
    if marks<100:
        print("It's a valid marks")

In [ ]:
s = "hello i'm a sentence"

In [ ]:
for letter in s:
    print(letter, end = " ")

In [ ]:
num = 5

In [ ]:
run = True
while run:
    print(num)
    #num = num-1
    num-=1
    #num+=1
    if num==0:
        run = False

In [ ]:
while True:
    inp = int(input("Enter a number"))
    if inp == num:
        print("Awesome")
        break
    elif inp>num:
        print("It's a lesser than that")
    else:
        print("It's greater than that")

In [ ]:
try:
    10+"hello"
except:
    print("Not a valid operation")
else:
    print("Hello")
finally:
    print("It always run")

In [ ]:
10+'hi'

In [ ]:
10/0

In [ ]:
num = int(input("Enter a number: "))

try:
   print("{} devided by {} is: ".format(100,100/num))
    
except ZeroDivisionError as zd:
    print(zd.args)
    
finally:
    print("End of the program")

In [ ]:
while True:
    try:
        val=int(input("Enter a number"))
    except ValueError:
        print("Please enter an integer")
    else:
        print("Yes, that's an integer", val)
        break
    finally:
        print("See you again")

Ordered Data Structures --> Strings, Lists, Tuples
Un-ordered Data Structures --> Dictionaries & sets

In [ ]:
# Indices in Python starts  with 0 and end index is exclusive

In [ ]:
s = "hello, what's up?"

In [ ]:
s[0]

In [ ]:
s[:5]

In [ ]:
s[7:]

In [ ]:
o="i have an oringe"

In [ ]:
# Immutable = 'str' object does not support item assignment
o[2] = 'a'

In [ ]:
#o.replace('i','a')

In [ ]:
o1 = "oringe"

In [ ]:
o1[:2]+'a'+o1[3:]

In [ ]:
'a'+'b'

In [ ]:
'a'*2

In [ ]:
s[7:].capitalize()

In [ ]:
s.isupper()

In [ ]:
s.upper()

In [ ]:
l = s.rsplit(',')

In [ ]:
l = [10,20,'banana','apple']

In [ ]:
l[0]

In [ ]:
l[3].capitalize()

In [ ]:
l.append(['hi'])

In [ ]:
l[4][1]

In [ ]:
l1 = l.__add__([88])

In [ ]:
len(l1)

In [ ]:
l.__dir__()

In [ ]:
# Mutable
l[2] = 'orange'

In [ ]:
t = (1,2,['hi','welcome'],('hello',100),"what's up")

In [ ]:
type(t)

In [ ]:
t[2][1].upper()

In [ ]:
t[2][0] = "hello"

In [ ]:
# Immutable --> 'tuple' object does not support item assignment
t[3][1] = 200

In [ ]:
# Key & value pairs
d = {}

In [ ]:
type(d)

In [ ]:
d['ID'] = [1,2,3,4]

In [ ]:
d['Name'] = ['John','Robert','Kiran','Monika']

In [ ]:
d['Salary'] = (1000,2000,8800,4400)

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
for i,j in d.items():
    print (i,j[3])

In [ ]:
d

In [ ]:
s = set()

In [ ]:
s1 = {1,1,1,1,2,2,2,3,4,5,6,7,8}

In [ ]:
s2 = {1,2,3,4}

In [ ]:
s1&s2

In [ ]:
s1|s2

In [ ]:
s1.difference(s2)

In [ ]:
s2.issubset(s1)

In [ ]:
s1.issuperset(s2)

In [ ]:
s1.difference_update(s2)

In [ ]:
s1

In [ ]:
# iterations

In [ ]:
for i in l:
    print(i)

In [ ]:
l = [1,2,3,4,5,6,7]

In [ ]:
l1 = []

In [ ]:
for i in l:
    if i%2==0:
        l1.append(i*i)

In [ ]:
[i*i for i in l if i%2==0]

In [ ]:
#  Collection module --> Ordered dict, Frozen sets, Named tuples

In [ ]:
def example(x):
    '''This fn takes an argument
    and returns the square of it'''
    return x*x

In [ ]:
example()

In [ ]:
#sq(l)

In [ ]:
list(map(sq,l))

In [ ]:
def odd(x):
    if x%2==0:
        return x

In [ ]:
odd(8)

In [ ]:
list(filter(odd,l))

In [ ]:
# Modules & Packages

In [ ]:
import math

In [ ]:
math.sqrt(64)

In [ ]:
from math import sqrt as sqq

In [ ]:
sqq(100)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
# General purpose programming language
# Comprehensive, clean syntax, oops
# Data Science / ML ---> sklearn, numpy, scipy, pandas
# AI --> Tensorflow, Keras, Pytorch 
# Networking --> Raspberry pi, ardinov
# Testing --> Selenium, Junit
# Debugging --> Pylint,
# Big Data --> Hadoop streaming, Pydoop, Hadoopy, MRjob, Pyspark
# Web based applications --> Django, Flask, Fast API

# Numpy
# Pandas
# Scipy
# Scikit learn / sklearn

In [ ]:
l = [1,2,3,4]

In [ ]:
l1 = [5,6,7,8]

In [ ]:
l+l1

In [ ]:
# numpy
import numpy as np

In [ ]:
a = np.array(l)

In [ ]:
a1 = np.array(l1)

In [ ]:
a+a1

In [ ]:
a = np.array([1,2,3,4,5,6]).reshape(3,2)

In [ ]:
a.reshape(2,3)

In [ ]:
a1 = np.array([[1,2,3],[4,5,True]])

In [ ]:
type(a1[1,2])

In [ ]:
a1[:,1]

In [ ]:
a1[:,[0,2]]

In [ ]:
a1[1,1:]

In [ ]:
# Pandas

# Series --> Row, column
# Dataframes --> A combination of rows and columns

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([1,2,3,4])

In [ ]:
s[2:]

In [ ]:
s = pd.Series([1,2,3,4], ['a','b','c','d'])

In [ ]:
s['c']

In [ ]:
s.__dir__()

In [ ]:
dir(s)

In [ ]:
# Dataframes --> Combination of rows and columns

In [ ]:
df1 = pd.DataFrame([[10,20,30,40],[4,5,6,11],[7,8,9,25]], columns=['a','b','c','d'], index=['x','y','z'])

In [ ]:
help(pd.DataFrame)

In [ ]:
df.shape

In [ ]:
df = pd.DataFrame({'Day':['Mon','Tue','Wed','Thu','Fri'],'Temp':[12,18,21,24,19],
                   'Rained':['Y','N','N','Y','Y']})

In [ ]:
df['Day'][:4]

In [ ]:
df[1:][['Day','Temp']]

In [ ]:
df.loc[[1,4]]

In [ ]:
df1.loc['x']['a']

In [ ]:
#df1['x']['a']

In [ ]:
df1.loc['x'][:3]

In [ ]:
df.loc[[0,4]]['Day']

In [ ]:
df.loc[[0,4]][:]

In [ ]:
df.loc[:2]

In [ ]:
df.loc[:3][['Day','Rained']]

In [ ]:
df.loc[[0,2]]['Day']

In [ ]:
df.iloc[[0,4]][['Day','Rained']]

In [ ]:
df.iloc[2,2]

In [ ]:
df.loc[:4][['Day','Rained']]

In [ ]:
df.iloc[[0,4],:2]

In [ ]:
df.iloc[:4,[0,2]]

In [ ]:
a[1,0]

In [ ]:
df.iloc[::2,[0,2]]

In [ ]:
df.loc[[0,2],['Day','Rained']]

# Indexing

[] --> The columns are accessed using 'labels' and sequence of rows are accessed using index

loc --> Pure label based indexing

iloc --> Pure integer based indexing

. --> sql

In [ ]:
df.iloc[[0,2],[0,2]]

In [ ]:
df.iloc[[0,4],:2]

In [ ]:
df.iloc[[0,4]]['Day']

In [ ]:
df.Day[:3]

In [ ]:
df['Cloudy'] = ["Yes",'No','yes','No','Yes']

In [ ]:
df.insert(2,'Cloudy',["Yes",'No','yes','No','Yes'], allow_duplicates=True)

# axis=0 refers to rows and 1 for columns
# inplace = True for permanent deletion

In [ ]:
df.drop('Cloudy', axis=1, inplace=True)

In [ ]:
df.insert(2,'Cloudy',["Yes",'No','yes','No','Yes'])

In [ ]:
df1.drop('x', inplace=True)

In [ ]:
df1.drop('a',axis=1)

In [ ]:
help(df.drop)

In [ ]:
df.loc[2] = ['Sun',18,'Yes','n']

In [ ]:
dir(df)

In [ ]:
#df.append

In [ ]:
# Conditional Subsetting

In [ ]:
df['Rained']=='Y'

In [ ]:
df[(df['Rained']=='Y') & (df['Temp']>20)]

In [ ]:
df[(df['Rained']=='Y') | (df['Temp']>20)]

In [ ]:
df['Rained'][0] = 'y'

In [ ]:
df[df['Rained'].str.upper()=='Y']

In [ ]:
df[df['Rained'].str.lower()=='y']

In [ ]:
type(df['Rained'][0])

In [ ]:
df['Rained'][0].upper()

In [ ]:
df['Cloudy'][2].capitalize()

In [ ]:
# Indices

In [ ]:
# Sort_index, Reset_index, Re-index

In [ ]:
dates = pd.date_range('20220913', freq='7D',periods=6)

In [ ]:
dates

In [ ]:
df2 = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['Open','Close','High','Low'])

In [ ]:
np.random.randn(6,4)

In [ ]:
df2.sort_index(ascending=False)

In [ ]:
df2.sort_values(by='Open', ascending=False)

In [ ]:
df2.sort_index(axis=1)

In [ ]:
help(df.reindex)

In [ ]:
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']

In [ ]:
df4 = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
                    'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},index=index)

In [ ]:
new_index = ['Safari', 'Firefox', 'Comodo Dragon', 'Edge','Chrome']

In [ ]:
df4.reindex(index=new_index, fill_value='Unknown')

In [ ]:
help(df.reindex)

In [ ]:
df4.reset_index()

In [ ]:
df4.reset_index(drop=True)

In [ ]:
df4

In [ ]:
help(df.reset_index)

In [ ]:
index = pd.MultiIndex.from_tuples([('bird', 'falcon'),('bird', 'parrot'),('mammal', 'lion'),
                                   ('mammal', 'monkey')],names=['class', 'name'])

In [ ]:
columns = pd.MultiIndex.from_tuples([('speed', 'max'),('species', 'type')])

In [ ]:
df5 = pd.DataFrame([(389.0, 'fly'),( 24.0, 'fly'),( 80.5, 'run'),(np.nan, 'jump')],
index=index,columns=columns)

In [ ]:
df5.columns

In [ ]:
df5.index

In [ ]:
df5.loc['bird'][1:2]

In [ ]:
df5['speed']

In [ ]:
df5.reset_index()

In [ ]:
help(pd.read_csv)

In [ ]:
df = pd.read_csv("D://data/churn.csv")

In [ ]:
'i\'m in class'

In [ ]:
# Exploratory data analytics & data cleaning

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.info()

# Descriptive statistics

# univariate analysis 
# bi-variate analysis

Measures of Central tendency --> Mean, Median, Mode
Dispersion --> Range, Variance, Standard deviation, Quantiles
Shape --> Skewness & kurtosis

In [ ]:
df['CreditScore'].mean()

In [ ]:
df['CreditScore'].median()

In [ ]:
df['Geography'].value_counts()

In [ ]:
df['Geography'].mode()

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(df['CreditScore'])

In [ ]:
df['CreditScore'].var()

In [ ]:
df['CreditScore'].std()

In [ ]:
df['CreditScore'].max()

In [ ]:
df['CreditScore'].min()

In [ ]:
sns.boxplot(y=df['CreditScore'])

In [ ]:
df['CreditScore'].quantile(0.25)

In [ ]:
df['CreditScore'].quantile(0.75)-df['CreditScore'].quantile(0.25)

In [ ]:
584-1.5*(134)

In [ ]:
df['CreditScore'].quantile(0.75)

In [ ]:
718+1.5*(134)

In [ ]:
df['CreditScore'].skew()

In [ ]:
round(df.describe(),2).T

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(df['CreditScore'])

In [ ]:
plt.hist(df['CreditScore'])

In [ ]:
plt.scatter(df['CreditScore'],df['Balance'])
plt.xlabel("Creditscore")
plt.ylabel("Balance")

In [ ]:
sns.boxplot(df['Geography'],df['EstimatedSalary'])

In [ ]:
sns.boxplot(df['Geography'],df['Balance'])

In [ ]:
sns.countplot(df['Exited'])

In [ ]:
sns.countplot(df['Geography'])

In [ ]:
sns.countplot(df['Exited'], hue=df['Geography'])

In [ ]:
sns.barplot('Geography','Exited',data=df)

In [ ]:
round(df.corr(),2)

In [ ]:
fig = plt.figure(figsize=(10,5))
sns.heatmap(df.corr(), annot=True)

In [ ]:
# Joins, Group-by, Pivot tables

In [ ]:
df.groupby(['Geography']).mean()

In [ ]:
grp=df[['Geography','Age','Balance','EstimatedSalary','Exited']].groupby('Geography')

In [ ]:
agg1=grp.mean()

In [ ]:
grp.min()

In [ ]:
agg2=df.groupby('Geography').agg({'CreditScore':[np.mean,'max','min'],'Balance':[np.mean],
                             'Exited':'count'})

In [ ]:
agg2.columns

In [ ]:
pd.concat([agg1,agg2], axis=1)

In [ ]:
df1 = pd.DataFrame([[10,20,30,40],[4,5,6,11],[7,8,9,25]], columns=['a','b','c','d'])

In [ ]:
df2 = pd.DataFrame([[10,20,30,40],[4,5,6,11],[7,8,9,25]], columns=['a','b','c','d'])

In [ ]:
pd.concat([df1,df2], ignore_index=True)

In [ ]:
pd.concat([df1,df2], axis=1)

In [ ]:
pd.crosstab(df['Geography'],df['Exited'])

In [ ]:
pd.crosstab(df['Geography'],df['Gender'])

In [ ]:
pd.crosstab(df['Gender'],df['Exited'])

In [ ]:
help(pd.crosstab)

In [ ]:
def sq(x):
    return x*x

In [ ]:
df['Age'].apply(sq)

In [ ]:
df3 = pd.DataFrame({'key1':['a','b','c','d'], 'value1':[1,2,3,4]})
df4 = pd.DataFrame({'key2':['a','b','p','q'], 'value2':[10,20,30,40]})

In [ ]:
pd.merge(df3,df4, left_on='key1', right_on='key2')

In [ ]:
help(pd.merge)

In [ ]:
pd.merge(df3,df4, how='outer',left_on='key1', right_on='key2')

In [ ]:
pd.merge(df3,df4, how='left',left_on='key1', right_on='key2')

In [ ]:
pd.merge(df3,df4, how='right',left_on='key1', right_on='key2')

In [ ]:
df_new = df4.rename(columns={'key2':'key1','value2':'value1'})

In [ ]:
df6 = pd.concat([df3,df_new], ignore_index=True)

In [ ]:
df6

In [ ]:
df6.stack()

In [ ]:
# Pivot tables

In [ ]:
help(df.pivot)

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two','two'],
'bar': ['A', 'B', 'C', 'A', 'B', 'C'],'baz': [1, 2, 3, 4, 5, 6],'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
help(df.pivot_table)